@page
@model IndexModel
@{
    ViewData["Title"] = "Domů";
}

<div class="text-center">
    <h1 class="display-3">Vypracoval Josef Vimr</h1>
    <h2 class="display-4">AIT2</h2>
    <p>dne 17.11.2022</p>
</div>
