@page
@model CaesarCipher_Vimr.Pages.CryptoPages.DecryptModel
@{
    ViewData["Title"] = "Dešifrovat";
}

<div class="text-center">
    <h1 class="display-3">Dešifrovat</h1>
</div>

<form method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label>Text na zašifrování</label>
        <input asp-for="@Model.pageContent.EncryptedText" class="form-control" />
    </div>
    <div class="form-group">
        <label>Klíč</label>
        <input asp-for="@Model.pageContent.Key" class="form-control" value= "3"/>
    </div>

    <button class="btn btn-primary" type="submit">
        Zašifrovat
    </button>
    <br />
    <label>Zašifrovaný text: </label>
    @if (Model.pageContent != null)  //Hazelo null reference jinak
    {
        <label>@Model.pageContent.DecryptedText</label>
    }

</form>