@page
@model CaesarCipher_Vimr.Pages.CryptoPages.EncryptModel
@{
    ViewData["Title"] = "Šifrovat";
    string result = string.Empty;
    int keyVal = 3;
    @if (Model.cryptoContent != null)
    {
        result = Model.cryptoContent.EncryptedText;
        keyVal = Model.cryptoContent.Key;
    }
}
<link rel="stylesheet" href="~/css/CryptoPagesStyle.css" />

<div class="text-center">
    <h1 class="display-3">@ViewData["Title"]</h1>
</div>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="form-group text-center">
        <label class="col-form-label-lg">Text na zašifrování: </label>
        <input asp-for="@Model.cryptoContent.DecryptedText" class="form-control-lg" id="inputTB"/>
        <br />
        <label class="col-form-label-lg">Klíč: </label>
        <input asp-for="@Model.cryptoContent.Key" type="number" min="1" max="25" id="keyTB" class="form-control-lg" value=@keyVal />
    </div>

    <div class="text-center">
        <button class="btn btn-dark" id="submitBTN" type="submit">
            Zašifrovat
        </button>
    </div>

    <div class="text-center">
        <label class="col-form-label-lg">Zašifrovaný text: </label>
        <br />
        <label class="col-form-label-lg resultLB">@result</label>
    </div>
</form>